/* google font 'Noto Sans' */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    
    --primary-font: #fff;
    --primary-light: rgb(65, 65, 65);

    --main-bg: rgb(35, 30, 54);
    --main-bg-light: rgb(144, 179, 112);

    --app-bg: rgb(68, 67, 67);
    --app-bg-light: rgb(187, 187, 187);

    --display-cont:rgb(117, 117, 117);
    --display-cont-light: rgb(119, 119, 119);

    --main-display: rgb(43, 43, 43);
    --main-display-light: rgb(43, 43, 43);

    --history-bg: rgb(92, 92, 92);
    --history-bg-light:rgb(187, 207, 189);

    --submit-bg:  rgb(44, 93, 253);
    --submit-bg-light:  rgb(95, 119, 199);

    --clear-bg:  rgb(106, 4, 153);
    --clear-bg-light:   rgb(165, 69, 209);

    --btn-bg:rgb(37, 37, 37);
    --btn-bg-light: rgb(168, 168, 168);

    --fnc-bg:rgb(224, 85, 31);
    --fnc-light:rgb(255, 145, 102);
   
}

body{
    margin:0px;
    padding:0px;

    color: var(--primary-font);
    background-color: var(--main-bg);
    
    transition: 600ms;
}

#light-toggle{
    position: relative;
    top:10px;
    left:10px;

    max-width: 100px;
}

#app-container{
    margin: 10% auto;
    max-width: 350px;
    height: auto;
    border-radius: 20px;
    
    background-color:  var(--app-bg);

    box-shadow: 14px 14px 12px 4px rgba(0, 0, 0, .3);

    transition: 600ms;
}

#display-container{
    display: flex;
    flex-direction: row;
    
    background-color: var(--display-cont);

    transition: 600ms;

    font-size: 22px;
    height: 80px;
}

#current-display{
    max-height: 60px;
    margin:10px auto;
    padding-top:4%;
    padding-right: 4%;
    
    overflow-x: auto;
    text-align: right;
    background-color: var(--main-display);
    border:2px solid var(--history-bg);

    transition: 600ms;
}

#history-display{
    overflow-x: auto;
    max-height:50px;
    margin:10px;
    padding:5px;
    padding-top: 4%;

    text-align: center;

    border:2px solid var(--main-display);
    background-color: var(--history-bg);

    
    transition: width 600ms;
}

#btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 10px;
}

#num-container, #fn-container{
    display: flex;
    flex-direction: column;
}

#num-container{
    margin:0 auto;
    width: 55%;
}

#r4, #r1, #r3, #r2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#fn-container{
    width:20%;
}



.num-btn, .func-btn, .submit, .clear{
    border-radius: 10px;
    border:2px solid var(--history-bg);
    margin: 1px;

    font-size: 20px;
    font-weight: bold;
    color: var(--primary-font);

    transition: 600ms;
}

.num-btn{
    width: 65px;
    height: 65px;
    font-size: 20px;
    font-weight: bold;

    color: var(--primary-font);
    background-color: var(--btn-bg);

    transition: 600ms;
}

.func-btn{
    width: 60px;
    height:40px;

    background-color: var(--fnc-bg);

    transition: 600ms;
}


.clear{
    width: 60px;
    height: 30px;

    background-color: var(--clear-bg);

    transition: 600ms;
}

.submit{
    height: 70px;
    width: 60px;

    background-color:  var(--submit-bg);

    transition: 600ms;
}


