/* google font 'Noto Sans' */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    
    --primary-font: #fff;
    --primary-light: rgb(65, 65, 65);


    --main-bg: rgb(35, 30, 54);
    --main-bg-light: rgb(194, 181, 240);

    --app-bg: rgb(68, 67, 67);
    --app-bg-light: rgb(216, 216, 180);

    --main-display: rgb(43, 43, 43);
    --history-display: rgb(92, 92, 92);


    --submit-bg:  rgb(165, 82, 130);
    --submit-bg-light:  rgb(252, 167, 216);

    --clear-bg:  rgb(155, 134, 66);
    --clear-bg-light:  rgb(242, 253, 86);
}

body{
    margin:0px;
    padding:0px;

    color: var(--primary-font);

    background-color: var(--main-bg);
    transition: 600ms;
}


#app-container{
    margin: 10% auto;
    max-width: 350px;
    height: auto;
    border-radius: 20px;

    background-color:  var(--app-bg);
}

#display-container{
    display: flex;
    flex-direction: row;
    
    background-color: var(--app-bg);

    font-size: 22px;
    height: 80px;
}

#current-display{
    max-height: 60px;
    margin:10px auto;
    padding-top:4%;
    padding-right: 4%;
    
    overflow-x: auto;
    text-align: right;
    background-color: var(--main-display);
    border:2px solid var(--history-display);
}

#history-display{
    overflow-x: auto;
    max-height:50px;
    margin:10px;
    padding:5px;
    padding-top: 4%;

    text-align: center;

    border:2px solid var(--main-display);
    background-color: var(--history-display);

    transition: width 600ms;
}

#btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 10px;
}

#num-container, #fn-container{
    display: flex;
    flex-direction: column;
}

#num-container{
    margin:0 auto;
    width: 55%;
}

#r4, #r1, #r3, #r2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#fn-container{
    width:20%;
}


.num-btn, .func-btn, .submit, .clear{
    border-radius: 10px;
    border:2px solid var(--main-display);
    margin: 1px;
}

.num-btn{
    width: 65px;
    height: 65px;
}

.func-btn{
    width: 60px;
    height:40px;
}

.clear{
    width: 60px;
    height: 30px;

    background-color: var(--clear-bg);
}

.submit{
    height: 70px;
    width: 60px;

    background-color:  var(--submit-bg);
}